.nav-bg{
    background-color: aquamarine;
}
.baner-img{
    background: url("./img/header-bg01.jpg") no-repeat center;
    background-size: cover;
}
.baner-content{
    text-align: center;
    color: #fff;
   padding: 100px 0px;
}
.baner-content p{
    margin: 20px 0px;
    padding-bottom: 30px;
}
.baner-content a{
   text-decoration: none;
   color: #fff;
   border: 1px solid #fff;
   padding: 8px;

}
.services-item{

}
.services-item samp{
    color: aquamarine;
    font-size: 30px;

}
.services-item h3{
    font-size: 17px;
    font-weight: 700;
}
.services-item p{
    font-size: 14px;
}
.boder{
    border-bottom: 3px solid aquamarine;
    margin-top: 30px;
}
.blog1 img{
    height: 100%;
    width: 100%;
}
.blog2 h2{
    font-weight: 400;
}
.contact-section{
    background-color:#f6f6f6 ;
    margin-top: 50px;
}
.contact-content{
    padding: 30px 0px;
}
.contact1{
    text-align: center;
}
.contact1 samp{
    color: aquamarine;
    text-align: center;
}
.contact1 p{}

.last{
    background-color:aquamarine;
    text-align: center;
  
    height: 60px;
}
.last ul{}
.last ul li{
    display: inline-block;
}
.last ul li a{
    display: inline-block;
    color: #fff;
    padding: 0px 20px;
    text-align: center;
    line-height: 60px;
}

